@use '../utils.scss' as u;
@use '../../variables' as v;

.label {
  border-bottom: 5px solid #4cbde0;
}

.navbarWrapper {
  @include u.flex(row, $align: center, $justify: space-evenly);
  height: 50px;
  position: relative;
  border-bottom: v.$delim;
  color: v.$theme_purple;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;

  ul {
    padding: 0 auto;
    width: 10%;
    position: absolute;
    background-color: white;
    border: v.$delim;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }

  li {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    width: 15%;

    p {
      padding: 0;
      cursor: pointer;
    }
  }
}

.dropdownItems {
  text-decoration: none;

  p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: v.$theme_purple;
    padding: 1%;
  }

  p:hover {
    font-weight: 700;
  }
}

dropdownItems:hover {
  font-weight: 700;
}
