@use '../utils.scss' as u;
@use '../../variables' as v;

.accountWrapper {
  @extend .descriptionBackground;
  padding: 1% 20%;
}

.logo {
  @include u.circle(110px);
  background-color: v.$theme_blue;

  span {
    font-size: 50px;
  }
}

.textInfoWrapper {
  @include u.flex(column);
  margin-left: 3%;
  width: 50%;
}

.username {
  @include u.flex(row, $align: baseline);
  margin-bottom: 0;
  
  p {
    font-size: 25px;
    font-weight: 700;
    margin-right: 4%;
    margin-bottom: 0;
  }

  span {
    font-size: 17px;
    font-weight: 200;
    color: rgb(92, 92, 92);
  }
}

.detailsWrapper {
  @include u.flex(row);

  div {
    @include u.flex(column);
    padding: 0 3%;
  }

  p {
    font-size: 18px;
    font-weight: 200;
    color: rgb(92, 92, 92);
  }

  span {
    font-size: 19px;
    font-weight: 600;
    color: rgba(27, 27, 27, 0.8);
  }
}

.bordered {
  border-right: v.$delim;
}
