@use '../utils' as u;
@use '../../variables' as v;

.modal {
  background-color: white;
  padding: 0;
  margin: 5% auto;
  width: 70%;
  max-width: 640px;
  height: 70%;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.textbox {
  resize: none;
  width: 500px;
  height: 300px;
  overflow: scroll;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #000;
  border: 4px solid transparent;
}

.textbox:focus {
  outline:none;
  box-shadow: 0 0 0 1px v.$theme_blue;
}

.rateWrapper {
  @include u.flex(row, $align: center, $justify: center);

  span {
    margin-right: 2%;
  }
}

.blockWrapper {
  @include u.flex(column, $align: center, $justify: center);
}

.textWrapper {
  @include u.flex(column, $align: baseline, $justify: center);

  span {
    margin-bottom: 2%;
  }
}

.addReview {
  @extend .submitBtn;
  margin-top: 3%;
}
