@use '../utils' as u;

.reviewTextWrapper {
  @include u.flex(column, $align: center);
  box-shadow: 3px 4px 6px;
  margin: 2% 0;
  padding: 1%;
  border-radius: 10px;
  max-height: fit-content;
}

.reviewAuthorWrapper {
  @include u.flex(row, $justify: flex-start);
  width: 100%;

  p {
    width: 80px;
  }
}

.rating {
  @include u.circle(50px);
  box-shadow:
    inset 1px 1px 1px,
    2px 3px 4px;
}

.textContentWrapper {
  @include u.flex(column);
}

.reviewText {
  width: 93%;
  box-sizing: border-box;
}

.expand {
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  margin-left: 50%;
}

.reviewHeader {
  @include u.flex(column, $justify: space-between);
}
