@use '../utils' as u;

.reviewsWrapper {
  @include u.flex(column, $align: stretch);
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
}

.btnWrapper {
  @include u.flex(row, $align: center, $justify: center);
}

.loadMore {
  @extend .submitBtn;
  margin: 1% auto;
}

.mainContainer {
  @include u.flex(row, $align: flex-start, $justify: space-between);
}
