@use '../utils.scss' as u;
@use '../../variables' as v;

.descriptionWrapper {
  @extend .descriptionBackground;
  padding: 1%;
  width: 99vw;

  img {
    border-radius: 20px;
    border: 5px solid white;
    width: 320px;
    height: 470px;
  }
}

.textDescription {
  margin-left: 3%;
}

.titleRow {
  @include u.flex(row, $align: baseline);

  p {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
  }

  span {
    margin-left: 1%;
    font-size: 25px;
    font-weight: 200;
    color: rgb(92, 92, 92);
  }
}

.genreLengthWrapper {
  @include u.flex(row);
  border-top: v.$delim;
  border-bottom: v.$delim;
  
  p {
    margin-left: 1%;
  };
}

.scoreWrapper {
  @include u.flex(row, $align: center);
  max-width: 1100px;
  margin-top: 1%;
  padding-bottom: 1%;
  border-bottom: v.$delim;

  p {
    width: 60px;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
  }
}

.ratingScore {
  @include u.circle(60px);
  margin-left: 1%;
  box-shadow:
    inset 1px 1px 1px,
    2px 3px 4px;
}

.synopsis {

  p {
    font-size: 25px;
    font-weight: 600;
  }

  span {
    margin-left: 1%;
    font-size: 18px;
    font-weight: 200;
  }
}

.addReviewWrapper {
  width: 250px;
  margin-left: 3%;
}

.addReview {
  @extend .submitBtn;
  padding: 2%;
}
