@use '../utils.scss' as u;

.descriptionWrapper {
  @extend .descriptionBackground;
  padding: 2%;

  img {
    border-radius: 20px;
    border: 5px solid white;
    width: 320px;
    height: 470px;
  }
}

.textDescription {
  margin-left: 3%;
}

.titleRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  p {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
  }

  span {
    margin-left: 1%;
    font-size: 25px;
    font-weight: 200;
    color: rgb(92, 92, 92);
  }
}

.genreLengthWrapper {
  display: flex;
  flex-direction: row;
  border-top: 2px solid rgba(95, 95, 95, 0.5);
  border-bottom: 2px solid rgba(95, 95, 95, 0.5);
  
  p {
    margin-left: 1%;
  };
}

.scoreWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  border-bottom: 2px solid rgba(95, 95, 95, 0.5);

  p {
    width: 5%;
    font-weight: 600;
    text-align: center;
  }
}

.ratingScore {
  @include u.circle(60px);
  margin-left: 1%;
  box-shadow:
    inset 1px 1px 1px,
    2px 3px 4px;
}

.synopsis {

  p {
    font-size: 25px;
    font-weight: 600;
  }

  span {
    margin-left: 1%;
    font-size: 18px;
    font-weight: 200;
  }
}
