.header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(108, 68, 152);
}

.title {
  font-size: 42px;
  background: -webkit-linear-gradient(0deg, #4cbde0, #4deccd);
  background-clip:  content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
