@use 'utils' as u;

.mediaContainer {
  @include u.flex(row, $justify: center);
  flex-wrap: wrap;
  margin: 3% auto;
}

.mediaProduct {
  @include u.flex(column, $align: center);
  flex: 0 0 270px;
  cursor: pointer;
  position: relative;
  padding-bottom: 1%;
  margin: 1%;
  border-radius: 5%;
  box-shadow: 2px 4px 8px;

  p {
    margin: 1% 1% 0 1%;
  }
}

.mediaImg {
  border-radius: 5%;
  width: 270px;
  height: 420px;
}

.ratingArea {
  @include u.circle(60px);
  position: absolute;
  left: 3%;
  top: 74%;
  margin-left: 20px;
  box-shadow:
    inset 1px 1px 1px,
    2px 3px 4px;
}

.mediaProduct:hover {
  transform: scale(1.05);
}

.mediaTitle {
  font-weight: 700;
}

.mediaRelease {
  color: gray;
}

.mainWrapper {
  max-width: 80%;
}
