@use 'utils' as u;

.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 5%;
  justify-content: center;
}

.mediaProduct {
  cursor: pointer;
  position: relative;
  padding-bottom: 1%;
  margin: 1%;
  flex: 0 0 270px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 2px 4px 8px;

  p {
    margin: 1% 1% 0 1%;
  }
}

.mediaImg {
  border-radius: 5%;
  width: 270px;
  height: 420px;
}

.ratingArea {
  @include u.circle(60px);
  position: absolute;
  left: 3%;
  top: 74%;
  margin-left: 20px;
  box-shadow:
    inset 1px 1px 1px,
    2px 3px 4px;
}

.mediaProduct:hover {
  transform: scale(1.05);
}

.mediaTitle {
  font-weight: 700;
}

.mediaRelease {
  color: gray;
}
