@use '../variables' as v;

@mixin circle($size) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: inset 1px 1px 1px;

  span {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    -webkit-text-stroke: 0.3px black;
  }
}

@mixin flex($direction, $justify: false, $align: false) {
  display: flex;
  flex-direction: $direction;
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}

.descriptionBackground {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100vw;
  background: linear-gradient(v.$theme_green, v.$theme_blue);
  box-sizing: border-box;
  align-items: center;
}

.submitBtn {
  cursor: pointer;
  align-self: center;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  padding: 0.5% 2% 1% 2%;
  background-color: v.$theme_blue;
  border-color: v.$btn_border;
  color: white;
}

.submitBtn:disabled {
  cursor: auto;
  background-color: gray;
}
