@mixin circle($size) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: inset 1px 1px 1px;

  span {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    -webkit-text-stroke: 0.3px black;
  }
}

.descriptionBackground {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 99vw;
  background: linear-gradient(#4deccd, #4cbde0);
  box-sizing: border-box;
  align-items: center;
}
