.formWrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
  box-shadow: 2px 4px 6px;
  padding: 1% 2%;
  border-radius: 30px;

  p {
    margin-bottom: 0;
    font-size: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

.title {
  font-weight: 700;
  font-size: 21px;
  align-self: center;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  font-size: 17px;
}
