@use '../utils' as u;
@use '../../variables' as v;
@use 'utils';

.accInfoWrapper {
  @include u.flex(row);
  margin-right: 2%;
}

.logoNameWrapper {
  @include u.flex(column, $align: center);
  cursor: pointer;
  margin-left: 0;
  margin-right: 25%;
}

.accLogo {
  @include u.circle(50px);
  background-color: v.$theme_blue;
}

.logoutText {
  @extend .headerText;
  padding-top: 7px;
  cursor: pointer;
}
