@use '../utils' as u;
@use '../../variables' as v;

.header {
  @include u.flex(row, $align: center, $justify: space-between);
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(108, 68, 152);
  padding: 0 5% 0 1%;
  box-sizing: border-box;
}

.navWrapper {
  @include u.flex(row, $justify: flex-start, $align: center);
  flex-wrap: nowrap;
  align-self: center;
}

.title {
  font-size: 42px;
  padding-bottom: 10px;
  text-decoration: none;
  background: linear-gradient(0deg, v.$theme_blue, v.$theme_green);
  background-clip:  content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
